<div class="container">
    <div class="wrap">
        <div class="profile-box">
            <div class="img">
                <%= image_tag "cat.jpg", width: "100%", height: "100%" %>
            </div>
            <div class="user-name pull-left"><a href=""><b>Name</b>, 24</a></div>
            <div class="user-location text-right"><i class="fa fa-map-marker"></i> London</div>
            <div class="description">
                <h4 class="text-uppercase"><small>Description</small></h4>
                <p class="small">Messenger bag mlkshk kale chips knausgaard raclette franzen bitters blog, banh mi swag XOXO ennui tattooed readymade brunch. Master cleanse ugh jean shorts, lo-fi wolf synth hexagon food truck. Mixtape succulents vinyl, copper mug tumeric man braid photo booth cred iceland fam. Tbh freegan shabby chic letterpress, readymade asymmetrical biodiesel aesthetic ramps wayfarers leggings jean shorts. Hoodie gluten-free sartorial, hammock cold-pressed jianbing pop-up. Shoreditch tbh fanny pack, shabby chic enamel pin schlitz tousled. Retro schlitz blue bottle yuccie lumbersexual poke.</p>
            </div>
        </div>
    </div>
</div>