<div class="bg-dark"></div>
<div class="home-information">
    <h1 class="slogan">Swipe to change your life</h1>
    <a class="btn btn-social btn-lg btn-facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
    <br>
</div>

<script type='text/javascript'>
    jQuery(function($){
        
        $.supersized({
            slide_interval : 4000,
            transition     : 1,
            transition_speed : 700,
            
            slide_links  : 'blank',
            slides : [
                {image : 'assets/bg.jpg'},
                {image : 'assets/bg2.jpg'},
                {image : 'assets/bg3.jpg'}
            ]
        });
    });
</script>