<!DOCTYPE html>
<html>
  <head>
    <title>SimpleDating</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway|Varela+Round" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
  </head>

  <body>
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
      <ul class="nav nav-menu">
        <li class="active"><a href="#"><i class="fa fa-users"></i> Discover</a></li>
        <li><a href="#"><i class="fa fa-heart"></i> Matches</a></li>
        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
      </ul>
    </nav>
    
    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <i class="fa fa-cog"></i>
      </button>
      <button type="button" class="navbar-toggle pull-right button-nav">
        <i class="fa fa-heart"></i>
      </button>
    </div>
    
    <a class="navbar-brand" href="#">
      <%= image_tag "logo_white.png", alt: "SimpleDating", class: "logo-brand" %>
    </a>
    
    <%= yield %>
    
    <script type='text/javascript'>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    
  </body>
</html>
